.add-div{
    display:flex;
    justify-content: space-between;
}
.add-div-button{
    top:0;
    position:sticky;
    padding-top: 10px;
    height: 12px;
    display: grid;
}
.range-div{
    display: flex;
    justify-content: space-between;
}

.range-slider{
    position: sticky;
    top: 0;
    height: 100px;
    width: 200px;
    padding-top: 12px;
}