.productBasket-div-light,.productBasket-div-dark{
    width: 200px;
    padding: 16px;
    margin: 0.5em;
    border-radius: 8px;
}
.productBasket-div-dark{
    background-color: var(--darkColor);
    box-shadow: 1px 3px 20px 0 rgb(255 255 255 / 30%);
    border: 1px solid var(--brown);
    color: white;
}
.productBasket-div-light{
    border: 1px solid #f0f0f0;
    box-shadow: 1px 3px 20px 0 rgba(110, 110, 110, 0.3);
    background-color: var(--yellow);
}
.delete-button-div{
    padding-top: 0.5em;
    padding-right: 0.75em;
    display:flex;
    justify-content: flex-end;
}
.delete-button-dark,.delete-button-light{
    width:91.9px;
    color:rgb(145, 6, 6);
}
.delete-button-dark{
    background-color: var(--darkColor);
    border-color: var(--brown);
    color:rgb(246 82 46);
}
.delete-button-light{
    background-color: var(--yellow);
}