.productBasket-div{
    width: 200px;
}
.delete-button-div{
    padding-top: 0.5em;
    padding-right: 0.75em;
    display:flex;
    justify-content: flex-end;
}
.delete-button{
    width:91.9px;
    color:rgb(145, 6, 6);
}